:root{
    --background-color: black;
    --dim-accent: #BBBBBB;
    --bright-accent: #FF3333;
    --font: Verdana, Geneva, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    height: 100%;
}

/* For app title */
h1 {

    color: var(--bright-accent);
    font-family: var(--font);
    margin-top: 0px;
    font-size: 48px;
    margin-left: 40px;
}

.titleDiv{
    margin: 20px;
}

/* For the 'TCG' */
.makerText{
    color: white;
    font-family: var(--font);
    margin-left: 40px;
    padding-top: 20px;
    font-size: 24px;
}

.socialHeaders{
    color: white;
    font-family: var(--font);
    font-size: 24px;
}

.socialNameHeader{
    color: #dddddd;
    font-family: var(--font);
    font-size: 20px;
}

/* For main app area */
.mainAppDiv{
    margin-left:40px;
    margin-top:0px;
    margin-right:40px;
    clear: both;
    height: 82.5%;
    background-color: black;
}

.loginText {
    color: white;
    font-size: 16px;
    margin: 8px;
    margin-bottom: 4px;
}

.loginButton{
    background-color: #FF3333;
    color: white;
    border: 0px solid black;
    margin: 5px;
}



/*ALL OF THIS
  IS FOR THE
  TAB LIST.
  EDIT AT OWN
  RISK. */

\
/* Style the list */
ul.tab {

    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    background-color: #aa0000;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #FF3333;}

/* Create an active/current tablink class FF3333*/
ul.tab li a:focus, .active {background-color: black;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border: none;
    color: white;
}













.topRight{
    position:absolute;
    top:0;
    right:0;
}

.loginTextTopRight{
    position:absolute;
    top:60px;
    right:0;
    color:white;
    width:auto;
}








/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #aa0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
