:root{
    --background-color: #292929;
    --dim-accent: #444444;
    --bright-accent: #8cffdd;
    --font: Verdana, Geneva, sans-serif;
}

body {
    background-color: var(--background-color);
}

h1 {
    text-align: left;
    color: var(--bright-accent);
    font-family: var(--font);
    margin-top: 5px;
}

.titleDiv{
    background-color: #111111;
}

.makerText{
    color: white;
    font-family: var(--font);
}
