<div style="top: 20%";>
	<div class="row">
		<div align="center" class="col-md-8 col-sm-6">
			<img ng-src= "{{currentCard.imageUrl}}" style="width:244px; height:364px;">
		</div>
		<div align="center" class="col-md-3 col-sm-6">
			<table border="2">
				<tr ng-show="checkField(currentCard.name)">
					<td border="2">Name</td> <td>{{currentCard.name}}
				</tr>
				<tr ng-show="checkField(currentCard.types)">
					<td>Type(s)</td> <td>{{currentCard.types[0]}} {{currentCard.types[1]}}</td>
				</tr>
				<tr ng-show="checkField(currentCard.hp)">
					<td>HP</td> <td> {{currentCard.hp}}</td>
				</tr>
				<tr ng-show="checkField(currentCard.text)">
					<td>Text</td>
					<td>
						<div ng-repeat="x in currentCard.text">
							{{x}}
						</div>						
					</td>
				</tr>
				<tr ng-show="checkField(currentCard.attacks)">
					<td>Attack(s)</td> 
					<td>
						<div ng-repeat="x in currentCard.attacks">
							<div ng-show="checkField(x.name)"><b>{{x.name}}</b></div> 
							<div ng-show="checkField(x.cost)">
								<div ng-repeat="c in x.cost">
									{{c}}
								</div>
							</div>
							<div ng-show="checkField(x.damage)">{{x.damage}}</div>
							<div ng-show="checkField(x.text)">{{x.text}}</div>							
						</div>
					</td>
				</tr>
				<tr ng-show="checkField(currentCard.weaknesses)">
					<td>Weaknesses</td>
					<td>
						<div ng-repeat="x in currentCard.weaknesses">
							<div ng-show="checkField(x.type)"> <b>{{x.type}}</b></div>
							<div ng-show="checkField(x.value)"> {{x.value}}</div>
						</div>
					</td>
				</tr>
				<tr ng-show="checkField(currentCard.resistances)">
					<td>Resistances</td>
					<td>
						<div ng-show="checkField(currentCard.resistances[0].type)"> <b>{{currentCard.resistances[0].type}}</b></div>
						<div ng-show="checkField(currentCard.resistances[0].value)"> {{currentCard.resistances[0].value}}</div>
						
						<div ng-show="checkField(currentCard.resistances[1].type)"> <b>{{currentCard.resistances[1].type}}</b></div>
						<div ng-show="checkField(currentCard.resistances[1].value)"> {{currentCard.resistances[1].value}}</div>
					</td>
				</tr>
				<tr ng-show="checkField(currentCard.retreatCost)">
					<td>Retreat Cost</td> 
					<td>{{currentCard.retreatCost.length}}</td>
				</tr>
				<tr ng-show="checkField(currentCard.set)">
					<td>Set</td> <td>{{currentCard.set}}</td>
				</tr>
				<tr ng-show="checkField(currentCard.rarity)">
					<td>Rarity</td> <td>{{currentCard.rarity}}</td>
				</tr>
			</table>
			
		</div>
	</div>
</div>

<div align="center" class="col-xs-12">
	<button onClick="openTab(event,'Encyclopedia')"style="text-align: center;">
		Return to Encyclopedia
	</button>
</div>